.title-navbar {
  display: flex;
}

.title-h1 {
  font-size: 1.875rem;
  color: #0290ff;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-links ul li {
  padding: 0 15px;
  color: #121212;
}

/* ----- Books ------ */

.book-row {
  display: flex;
}

.book-first-column {
  width: 400px;
}

.book-remaining-column {
  display: flex;
}

.book-completion-status {
  width: 250px;
}

.book-progress {
  width: 300px;
}

.book-input {
  width: 360px;
  margin-right: 40px;
}

.category-select {
  width: 210px;
  margin-right: 40px;
}

.add-book-button {
  width: 250px;
}
